body{
    padding-top: 20px;
}
#select{
 -webkit-appearance: none;   
 border-radius: 0px;
 width: 165px;
 height: 25px;
}
.ng-pristine.ng-invalid{
    border-color: #0bbde5;
}
.ng-invalid.ng-dirty {
    border-color:  #FA787E;
}
.ng-valid.ng-dirty {
    border-color:  #78FA89;
}
